*{
margin:0;
padding:0;
}
body{
color:#e7e7e7;
font-size:16px;
font-family:monospace, Courier;
font-weight:bold;
line-height:1em;
display:table;
width:100%;
height:100%;
}
#wrapper{
width:100%;
height:100%;
display:table-cell;
text-align:center;
vertical-align:middle;
background-color:#273c52;
background-image:url('./noise.png');
}
#tree-wrapper{
padding:5em;
margin:0 auto;
display:inline-block;
background-color:#415f7d;
border:1px solid #3d566e;
-webkit-box-shadow:0 0 2px #304153;
   -moz-box-shadow:0 0 2px #304153;
        box-shadow:0 0 2px #304153;
-webkit-border-radius:2px;
   -moz-border-radius:2px;
        border-radius:2px;
}
#tree{
list-style:none;
}
/* Colors of tree parts */

.top{
color:#ffc000;
}
.body{
color:#bed951;
}
.trunk{
color:#784e33;
}
/* Colors of stars */

.gold{
color:#ffc000;
text-shadow:0 0 8px #ffc000;
}
.silver{
color:#efefef;
text-shadow:0 0 8px #efefef;
}
.purple{
color:#ce669c;
text-shadow:0 0 8px #ce669c;
}
